section{
    background-color: #ebeff0;
    height: 100%;
    // width: 900px;
    .test{
        display: flex;
        justify-content: center;
        background-color: #007b81;
        h1{
            color: white;
        }
    }  
    #close-icon{
        float: right;
      margin-top: -49px;
      margin-right: 14px;
      font-size: 38px;
      color: white;
      cursor: pointer;
      }
        .container{
            display: grid;
            grid-template-columns: auto auto;
            padding: 12px 65px;
            gap: 20px;
        .mat-card{
            background-color: #edf0f2;
            .img{
                background-color: #e9e4d9;
                text-align: center;
                img{
                    padding: 10px;
                    // width: 280px;
                    height: 100px;
                }
            }
            h4{
                font-weight: 600;
            }
        }  
        }
        .container2{
            display: grid;
            grid-template-columns: auto;
            margin-left: 68px;
            span{
                margin-left: 20px;
            }
        }

        .btn{
            display: flex;
            justify-content: center;
            gap: 20px;
            padding:20px 0px 20px 0px;
            button{
                border: none;
                border-radius: 5px;
                font-size: 18px;
                font-weight: 400;
                color: white;
                width: 150px;
                padding: 15px;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            }
            #cancelBtn{
             background-color: #929292 ; 
             cursor: pointer; 
            }
            
            #proBtn{
            background-image: linear-gradient(to right, #1a1d6c, #00b790);
            cursor: pointer;
            &:disabled{
                cursor: not-allowed;
            }
            }
           ::ng-deep {
    .mat-spinner {
   
      margin-left: 40%;
      margin-right: 40%;
  }
  }
        }
     
}
