.reportHeader{  
.subheading{
    margin-left: 5%;
    font-size: 15px;
    display:inline-flex;
    p{
    color: #3932b9;
    font-weight: 800;
    height: 5px;
  
   }
  }
}
.home{
    cursor: pointer;
}