section{
margin-top: 5%;
  .stepper{
      background-color: transparent;
      color: gray;
       }


.step {
  position: relative;

}
.back-btn {
  position: absolute;
  // top: 2.3%;
  left: 4%;
  display: flex;
  align-items: center;
  color: #333;
  cursor: pointer;
  margin-top: 0.5%;
  font-weight: bolder;
  span{
    font-size: 30px;

  }
}

}
::ng-deep .mat-horizontal-stepper-header-container {
      padding-left: 257px;
      height: 40px;
      margin-right: 1%;
      .mat-step-header .mat-step-icon{
        // background-color: white;
        background-color: gray;
        // color: #5dd198;
      }
      .mat-stepper-horizontal-line{
        background-color: #5dd198;
        width: 10px;
      }

     .mat-step-header .mat-step-icon-selected {
        background-color:white;
        color: #5dd198;
        border: 1px solid #5dd198;
     }

  .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
    background-color: #5dd198;
    color: white;
    +.mat-step-label{
      color: white !important;
    }
  }
//     .mat-horizontal-stepper-header{
//     pointer-events: none !important;
// }
}

