<div class="container">
<mat-card>
  <span> <a class="home" (click)="navigateToHome()">Home /</a> <p>&nbsp;  My Profile</p></span>
</mat-card>
<div class="main">
  <div class="heading">
    <h1>My Profile</h1>
  </div>
<section>
  <div class="left">
      <div class="profile">
          <img [src]=image+profile_data?.avatar
              alt="" />
          <h2>{{profile_data?.name_prefix + " " + profile_data?.first_name + " " + profile_data?.last_name}}</h2>
      </div>
      <div class="info">
          <div class="details">
          <mat-icon>mail</mat-icon>&nbsp;
          <h4>
            {{profile_data?.email}}
          </h4>
        </div>
          <div class="details">
          <mat-icon>call</mat-icon> &nbsp;

          <h4>
             {{profile_data?.phone_code + " " + profile_data?.phone_number}}
          </h4>
        </div>
          <div class="details">
          <mat-icon>person_pin_circle</mat-icon> &nbsp;
          <h4>
              {{profile_data?.city_name + " "+ profile_data?.physical_address + " , "+ profile_data?.country_name}}
          </h4>
        </div>
      </div>
      
      <button mat-raised-button (click)="navigateToEditProfile()">Edit Profile</button>
  </div>
  <div class="right">
      <div class="image">
          <h2>Imaging Photos</h2>
          <mat-spinner *ngIf="spinner" [diameter]="50" style="left: 45%;"></mat-spinner>
          <div class="cursor" *ngIf="!spinner">
              <mat-carousel timings="250ms ease-in" [autoplay]="true" [interval]="6000" color="accent" maxWidth="auto"
              [proportion]="25" [slides]="5" [loop]="true" [hideArrows]="false" [hideIndicators]="false"
              [useKeyboard]="true" [useMouseWheel]="false" orientation="ltr">
              <mat-carousel-slide #matCarouselSlide *ngFor="let slide of slides; let i = index" [image]="slide"
                  overlayColor="#00000040" [hideOverlay]="false"></mat-carousel-slide>
          </mat-carousel>
          </div>
      </div>
      <div class="bio" >
          <h2>Bio</h2>
          <h4 *ngIf="bioValue">{{profile_data?.lab_bio}}</h4>
          <h4 *ngIf="!bioValue">No bio of lab found.</h4>
      </div>
      <div class="doc">
          <h2>Documents</h2>
          <div class="upload">
                <div>
                    <mat-spinner *ngIf="spinner" [diameter]="30"></mat-spinner>
                    <img [src]="image+profile_data?.tax_compliance" *ngIf="!spinner" >
                    <p>Tax Compliance</p>
                </div>
                <div>
                    <mat-spinner *ngIf="spinner" [diameter]="30"></mat-spinner>
                    <img [src]="image+profile_data?.cr_12" *ngIf="!spinner">
                    <p>CR12</p>
                </div>
                <div>
                    <mat-spinner *ngIf="spinner" [diameter]="30"></mat-spinner>
                    <img [src]="image+profile_data?.kra_pin_certificate" *ngIf="!spinner">
                    <p>KRA PIN CERTIFICATE</p>
                </div>
                <div>
                    <mat-spinner *ngIf="spinner" [diameter]="30"></mat-spinner>
                    <img [src]="image+profile_data?.regulator_licenses_1" *ngIf="!spinner">
                    <p>regulator licenses 1</p>
                </div>
                <div>
                    <mat-spinner *ngIf="spinner" [diameter]="30"></mat-spinner>
                    <img [src]="image+profile_data?.regulator_licenses_2" *ngIf="!spinner">
                    <p>regulator licenses 2</p>
                </div>
                <div>
                    <mat-spinner *ngIf="spinner" [diameter]="30"></mat-spinner>
                    <img [src]="image+profile_data?.regulator_licenses_3" *ngIf="!spinner">
                    <p>regulator licenses 3</p>
                </div>
          </div>
      </div>
      <div class="company">
          <h2>Imaging Insurance Companies</h2>
          <div class="insurance_logo">
              <div *ngFor="let pic of profile_data?.insurance_company">
              <img [src]="image+pic.avatar">
              <p>{{pic.name}}</p>
            </div>
          </div>
      </div>
      <div class="payment">
          <div class="info">
              <h2>Payments Details</h2>
              <button mat-raised-button>Add Payment Details</button>
          </div>
          <div class="detail">
            <div class="img">
              <img src="assets/cards.png" alt="cardImage" srcset="">
            </div>
            <p>No Details Added</p>
          </div>
      </div>
  </div>
</section>
</div>
</div>
