<div class="content-container">
  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
    <mat-icon id="close-icon" (click)="onNoClick()">close</mat-icon>
    <h1 mat-dialog-title id="heading">Forgot Your Password</h1>
    <div mat-dialog-content>
      <p id="instructions">Please enter the e-mail address used to register. We will send you  the link for reset password.</p>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email">
        <mat-error *ngIf="resetForm?.controls?.email?.errors?.required">Email is Required</mat-error>
      </mat-form-field>
    </div>
    &nbsp;
    <div class="btn">
      <button mat-button (click)="onNoClick()" id="no-button">Cancel</button>&nbsp;&nbsp;
      <button type="submit" mat-button id="yes-button" mat-dialog-close [disabled]="this.resetForm.invalid">
        <mat-spinner *ngIf="spinner" [diameter]="40"></mat-spinner>
        <ng-container *ngIf="!spinner ">SendLink</ng-container>
      </button>
    </div>
  </form>
</div>
