@import "/src/app/CommonScss/snackBar.scss";
#close-icon {
  float: right;
  margin: -4.5%;
  cursor: pointer;
  border-radius: 20px;
}
#heading {
  text-align: center;
  color: blue;
}
#instructions {
  color: black;
}
#no-button {
  width: 43%;
  background-image: linear-gradient(to right, #1a1d6c, #00b790);
  color: white;
}
#yes-button {
  width: 45%;
  background-image: linear-gradient(to right, #1a1d6c, #00b790);
  color: white;
  &:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
  }
}
:host {
  .mat-form-field {
    border-radius: 60px;
  }
  .mat-error {
    font-size: 12px;
    margin-left: -8px;
    margin-top: -1px;
  }
}
::ng-deep {
  .mat-form-field-appearance-fill .mat-form-field-flex {
    width: 400px;
  }
  .mat-dialog-content {
    overflow: hidden;
  }
}
